<!DOCTYPE html>
<html>

<head>
    <title>Index Home - EJS</title>

    <script src="jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <script>
        var socket = io();
        $(document).ready(function () {
            $("#SendMsg").click(function () {
                socket.emit("SendMSG", $("#TextChat").val());
            });

            socket.on("DataMSG", function (data) {
                $("#Data").append("<div><b style='color: aqua'>" + data.id + "</b> : " + data.c + "</div>");
            });
        });
    </script>
</head>

<body>
    <div>
        <h3 id="Data"></h3>
    </div>
    <input type="text" id="TextName">
    <input type="button" id="SetName" value="Name">
    <input type="text" id="TextChat">
    <input type="button" id="SendMsg" value="Send">
</body>

</html>